body {
  overflow: hidden;
  height: 100vh;
}

.island {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: green;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 0.2em;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;


}

.island:hover {
  background-color: black !important; 
  
}

.buttons {
  position: absolute;
  bottom: 1em;
  width: 100%;    
  display: flex;
  justify-content: center;
  gap: 1em;
}

.btn {
  background-color: red;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 2em;
  border-radius: 0.5em;
  display: inline-block;
  text-decoration: none;
}

#btnSave {
  background-color: green;
}

#btnLoad {
  background-color: blue;
}
